@charset "utf-8";
/* CSS Document */

body {
    background: #fdfdfd;
}

/*订阅总数*/
p.dingyue-total {
    width: 96%;
    margin: 0 2%;
    padding: 15px 0;
    font-size: 16px;
    color: #777;
}

p.dingyue-total font {
    font-weight: bold;
    margin: 0 8px;
    color: #333;
}

/*订阅数据*/
.dingyueUl {
    width: 96%;
    margin: 20px 2%;
}

.dingyueUl .dingyue-item {
    float: left;
    width: 270px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
    border: 1px solid #DEDCDC;
    border-radius: 3px;
    overflow: hidden;
}

.dingyueUl .dingyue-item:hover {
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
    border: 1px solid #AFAFAF
}

.dingyueUl .dingyue-item table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.dingyueUl .dingyue-item table th {
    padding: 4px 0;
}

.dingyueUl .dingyue-item table td {
    padding: 4px 0;
}

.dingyueUl .dingyue-item .dingyue-portrait img {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
}

.dingyueUl .dingyue-item .dingyue-name a {
    float: left;
    width: 80%;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}

.dingyueUl .dingyue-item .dingyue-name a:hover {
    color: #429bd1;
}

.dingyueUl .dingyue-item .dingyue-btn a {
    float: right;
    width: 68px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 13px;
    padding: 2px 0 2px 14px;
}

.dingyueUl .dingyue-item .dingyue-btn a.hadmind {
    background: url(../images/hadmind.png) 8px center no-repeat;
}

.dingyueUl .dingyue-item .dingyue-btn a.nowmind {
    background: url(../images/nowmind.png) 8px center no-repeat;
}

.dingyueUl .dingyue-item .dingyue-btn a.nowmind:hover {
    background: #83dd0f url(../images/nowmind-hover.png) 8px center no-repeat;
    border: 1px solid #83dd0f;
    color: #fff;
}

.dingyueUl .dingyue-item .dingyue-relationship a {
    font-size: 12px;
    margin-right: 15px;
    cursor: pointer;
    color: #777;
}

.dingyueUl .dingyue-item .dingyue-relationship a:hover {
    text-decoration: underline;
    color: #429bd1;
}

.dingyueUl .dingyue-item .dingyue-instruction {
    padding: 8px 0;
    color: #666;
    font-size: 13px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}